/* 
 * 直播主页的dark mode
 */

/* body */
body {
  background-color: #000 !important;
}

/* nav-bar */
.link-navbar,.text-info-ctnr,.link-footer,.live-sidebar-ctnr {
  background-color: #000 !important;
}
/* 右侧边栏 */
.live-sidebar-ctnr {
  box-shadow:0 0 5px 1px rgb(158 179 193 / 50%) !important;
}
/* section title */
.section-title,.yzly-title,.area-title,.title-text {
  color: #fff !important;
}
.hover-panel-wrapper,.body-bg,.highlight-area-item,.rec-area-item {
  background-color: #000 !important;
}
/* 新闻列表 */
body .news-ctnr,body .hab-ctnr,body .rank-ctnr {
  background-color: #000 !important;
}

/* 分类banner */
.highlight-area-item,.rec-area-item {
  border: 1px solid #2F3238;
}

/* card text */
.card-text,.banner-title,.room-anchor,.item-title {
  color: #C9CCD0 !important;
}
.Item_1EohdhbR .Item_2A9JA1Uf {
  background-color: #000 !important;  
}
.Item_1EohdhbR .Item_2A9JA1Uf .Item_2onI5dXq .Item_1Cr59yf9 .Item_2GEmdhg6 {
  color: #C9CCD0 !important;
}

/* --------------直播详情页------------ */
body .international-header .mini-type,
 .van-popover .mini-type,.rank-list-ctnr {
  background-color: #000;
}

.nav-link .nav-link-ul .nav-link-item .link,
.mini-type .nav-user-center .user-con .item .name {
  color: #C9CCD0 !important;
}
.head-info-section {
  background-color: #000 !important;
}
.small-title,.user-row {
  color: #C9CCD0 !important;
}

.side-bar-popup-cntr {
  background-color: #242628 !important;
}

.more-btn-cntr {
  background-color: #000 !important;
}

body .area-name {
  color: #C9CCD0 !important;
}